<div class='col s3'>
  <div class="row">
    <!-- <input #id /> -->
    <div class="input-field row s6">
      <i class="material-icons prefix">account_circle</i>
      <input #id id="id" type="text" class="validate">
      <label for="id">ID du patient</label>
    </div>
    <button class="btn waves-effect waves-light" (click)="getMyData(id.value)">
      <i class="material-icons right">search</i>
      Chercher
    </button>
  </div>
</div>

<div class="col s9">
  <router-outlet name='sub'></router-outlet>
  <ul class='collapsible'>
    <li *ngFor="let d of myData">

      <div class="collapsible-header">
        <div class='col s9'>
          {{d.code.coding[0].display}}
        </div>
      </div>

      <div class='collapsible-body'>
        <div class='row'>
          <div class='col s4'>
            {{d.valueQuantity.value}} {{d.valueQuantity.code}}
          </div>
        </div>
      </div>

    </li>
  </ul>
</div>
