<nav>
  <div class="nav-wrapper red">
    <a routerLink="/" routerLinkActive='active' class="brand-logo"><i class="large material-icons left">whatshot</i> FHIR Lane</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink='/rdv' routerLinkActive='active'><i class="small material-icons left">assignment</i>Prendre RDV</a></li>
      <li><a routerLink='/consulterrdv' routerLinkActive='active'><i class="small material-icons left">storage</i> Consulter RDV</a></li>
        <li><a routerLink='/consult' routerLinkActive='active'><i class="small material-icons left">assignment</i>Consulter les données</a></li>
        <li><a routerLink='/saisie' routerLinkActive='active'><i class="small material-icons left">storage</i>Saisie des données</a></li>
    </ul>
  </div>
</nav>
