<nav>
  <div class="nav-wrapper green accent-4">
    <a href="#" class="brand-logo"><i class="large material-icons left">local_hospital</i> Pharma</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink='/prescription' routerLinkActive='active'><i class="small material-icons left">assignment</i> Prescription</a></li>
      <li><a routerLink='/stock' routerLinkActive='active'><i class="small material-icons left">storage</i> Stock</a></li>
    </ul>
  </div>
</nav>
